typing-extensions==4.5.0
ecdsa==0.18.0
pysha3==1.0.2
eth-keys==0.4.0
rlp
solana==0.30.1
solders==0.17.0
psycopg2-binary
ethereum
py-solc-x==1.1.1
hvac==1.1.0
requests
base58
pysha3
construct
web3==6.4.0
aioprometheus==23.3.0
singleton-decorator==1.0.0
clickhouse-connect==0.5.24
