typing-extensions==4.8.0
ecdsa==0.18.0
pysha3==1.0.2
eth-keys==0.4.0
rusty_rlp
rlp
solana==0.30.2
solders==0.18.1
psycopg2-binary
ethereum
py-solc-x==1.1.1
hvac==2.0.0
requests==2.31.0
base58
pysha3
construct
web3==6.11.3
aioprometheus==23.3.0
singleton-decorator==1.0.0
clickhouse-connect==0.6.20
websockets==12.0
