typing-extensions==4.3.0
ecdsa==0.18.0
pysha3==1.0.2
eth-keys==0.3.3
rlp
web3==5.22.0
solana==0.10.0
psycopg2-binary
ethereum
py-solc-x==1.1.1
flask==2.2.2
prometheus_client==0.14.1
requests
git+https://github.com/neonlabsorg/neon.py.git@0.1.7
